@model Web.ViewModels.Idaman.UserIdamanViewModel
<h3>Detail Profile</h3>
<table class="table table-bordered table-striped">
    <tr>
        <td>Role Name</td>
        <td>@Html.Raw(ViewBag.RoleName)</td>
    </tr>
    <tr>
        <td>Extension Attribute - Tenant Code</td>
        <td>@Html.Raw(ViewBag.TenantCode)</td>
    </tr>
</table>
<h3>Detail User IdAMan</h3>
<table class="table table-bordered table-striped">
    <tr>
        <td>User Id</td>
        <td>@Html.Raw(Model.UserId)</td>
    </tr>
    <tr>
        <td>Organization Id</td>
        <td>@Html.Raw(Model.OrganizationId)</td>
    </tr>
    <tr>
        <td>Position Id</td>
        <td>@Html.Raw(Model.PositionId)</td>
    </tr>
    <tr>
        <td>Company Code</td>
        <td>@Html.Raw(Model.CompanyCode)</td>
    </tr>
    <tr>
        <td>Kbo</td>
        <td>@Html.Raw(Model.Kbo)</td>
    </tr>
    <tr>
        <td>Is Active</td>
        <td>@Html.Raw(Model.IsActive)</td>
    </tr>
    <tr>
        <td>Birthday</td>
        <td>@Html.Raw(Model.Birthday)</td>
    </tr>
    <tr>
        <td>City</td>
        <td>@Html.Raw(Model.City)</td>
    </tr>
    <tr>
        <td>Company Name</td>
        <td>@Html.Raw(Model.CompanyName)</td>
    </tr>
    <tr>
        <td>Country</td>
        <td>@Html.Raw(Model.Country)</td>
    </tr>
    <tr>
        <td>Department</td>
        <td>@Html.Raw(Model.Department)</td>
    </tr>
    <tr>
        <td>Display Name</td>
        <td>@Html.Raw(Model.DisplayName)</td>
    </tr>
    <tr>
        <td>Employee Id</td>
        <td>@Html.Raw(Model.EmployeeId)</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>@Html.Raw(Model.LastName)</td>
    </tr>
    <tr>
        <td>Hire Date</td>
        <td>@Html.Raw(Model.HireDate)</td>
    </tr>
    <tr>
        <td>Job Title</td>
        <td>@Html.Raw(Model.JobTitle)</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Html.Raw(Model.Email)</td>
    </tr>
    <tr>
        <td>Mobile Phone</td>
        <td>@Html.Raw(Model.MobilePhone)</td>
    </tr>
    <tr>
        <td>Website</td>
        <td>@Html.Raw(Model.Website)</td>
    </tr>
    <tr>
        <td>About Me</td>
        <td>@Html.Raw(Model.AboutMe)</td>
    </tr>
    <tr>
        <td>Office Location</td>
        <td>@Html.Raw(Model.OfficeLocation)</td>
    </tr>
    <tr>
        <td>Postal Code</td>
        <td>@Html.Raw(Model.PostalCode)</td>
    </tr>
    <tr>
        <td>Username</td>
        <td>@Html.Raw(Model.Username)</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>@Html.Raw(Model.FirstName)</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>@Html.Raw(Model.Address)</td>
    </tr>
    <tr>
        <td>User Type</td>
        <td>@Html.Raw(Model.UserType)</td>
    </tr>
    <tr>
        <td>Photo</td>
        <td><img src="@Html.Raw(Model.Photo)" /></td>
    </tr>
    <tr>
        <td>Extension Attributes</td>
        <td>@Html.Raw(Model.ExtensionAttributes)</td>
    </tr>
    <tr>
        <td>Idp</td>
        <td>@Html.Raw(Model.Idp)</td>
    </tr>
    <tr>
        <td>Directory Id</td>
        <td>@Html.Raw(Model.DirectoryId)</td>
    </tr>
    <tr>
        <td>Created By</td>
        <td>@Html.Raw(Model.CreatedBy)</td>
    </tr>
    <tr>
        <td>Created</td>
        <td>@Html.Raw(Model.Created)</td>
    </tr>
    <tr>
        <td>Updated</td>
        <td>@Html.Raw(Model.Updated)</td>
    </tr>
    <tr>
        <td>Employee Number</td>
        <td>@Html.Raw(Model.EmployeeNumber)</td>
    </tr>
    <tr>
        <td>Employee Type</td>
        <td>@Html.Raw(Model.EmployeeType)</td>
    </tr>
    <tr>
        <td>Manager</td>
        <td>@Html.Raw(Model.Manager)</td>
    </tr>
    <tr>
        <td>Room Number</td>
        <td>@Html.Raw(Model.RoomNumber)</td>
    </tr>
    <tr>
        <td>State</td>
        <td>@Html.Raw(Model.State)</td>
    </tr>
    <tr>
        <td>Division</td>
        <td>@Html.Raw(Model.Division)</td>
    </tr>
    <tr>
        <td>Culture Info</td>
        <td>@Html.Raw(Model.CultureInfo)</td>
    </tr>
    <tr>
        <td>Language</td>
        <td>@Html.Raw(Model.Language)</td>
    </tr>
    <tr>
        <td>Date Format</td>
        <td>@Html.Raw(Model.DateFormat)</td>
    </tr>
    <tr>
        <td>Time Format</td>
        <td>@Html.Raw(Model.TimeFormat)</td>
    </tr>
    <tr>
        <td>Is Cheif</td>
        <td>@Html.Raw(Model.IsCheif)</td>
    </tr>
</table>